<!DOCTYPE html>
<html lang="en">

<head>
  <!-- header -->
  {% include 'admin/adminTemplate/headerAdmin.html' %}
  <!-- end header -->
</head>
<style>
  h5 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: larger;
    font-style: oblique;
  }

  h5.card-title {
    font-size: 2em;
    /* Adjust this value as needed */
  }
</style>
<script>
  $(document).ready(function () {
    $('h3').each(function () {
      $(this).prop('Counter', 0).animate({
        Counter: $(this).text()
      }, {
        duration: 1000,
        easing: 'swing',
        step: function (now) {
          $(this).text(Math.ceil(now));
        }
      });
    });
  });
</script>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    {% include 'admin/adminTemplate/Navbar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      {% include 'admin/adminTemplate/sideBar.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h4 class="font-weight-bold mb-0">Satgas-PPKS Dashboard</h4>
                </div>
                <div>
                  <!-- button report waws here -->
                </div>
              </div>
            </div>
          </div>
          <main>
            <div class="row">
              <div class="col-md-3 grid-margin stretch-card" onclick="location.href='/adminDashboard/artikelControl'">
                <div class="card">
                  <div class="card-body">
                    <p class="card-title text-md-center text-xl-left">Artikel</p>
                    <div
                      class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                      <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{ article_count }}</h3>
                      <i class="ti-calendar icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>
                    <p class="mb-0 mt-2 text-danger"> <span class="text-black ms-1"><small> </small></span></p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 grid-margin stretch-card" onclick="location.href='/adminDashboard/detailLaporan';">
                <div class="card">
                  <div class="card-body">
                    <p class="card-title text-md-center text-xl-left">Pelaporan</p>
                    <div
                      class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                      <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{ pelaporan_count }}</h3>
                      <i class="ti-agenda icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>
                    <p class="mb-0 mt-2 text-danger"> <span class="text-black ms-1"><small> </small></span></p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 grid-margin stretch-card" onclick="location.href='/adminDashboard/userControl';">
                <div class="card">
                  <div class="card-body">
                    <p class="card-title text-md-center text-xl-left">Mahasiswa</p>
                    <div
                      class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                      <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{ mahasiswa_count }}</h3>
                      <i class="ti-user icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>
                    <p class="mb-0 mt-2 text-success"> <span class="text-black ms-1"><small> </small></span></p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 grid-margin stretch-card" onclick="location.href='/adminDashboard/forumControl';">
                <div class="card">
                  <div class="card-body">
                    <p class="card-title text-md-center text-xl-left">Postingan</p>
                    <div
                      class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                      <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{ postingan_count }}</h3>
                      <i class="ti-layers-alt icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>
                    <p class="mb-0 mt-2 text-success"> <span class="text-black ms-1"><small> </small></span></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="statistik-graphic-monthlyReport">
              <div class="row d-flex justify-content-sm-center">
                <div class="col-md-4 grid-margin">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Statistik Bulanan</h4>
                      <canvas id="myChart" width="30px" height="30px"></canvas>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 grid-margin">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Statistik Tahunan</h4>
                      <canvas id="myChart2" width="30px" height="30px"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
              // Tangkap `summary_pelaporan_byMonth` yang dikirim dari Flask sebagai JSON

              // buat masing masing variable bulan dan tahun dan berikan 0 apabila kosong
              const summaryData = {{ summary_pelaporan_byMonth| tojson }};
              // sorting juga bulan yang berbeda tahun
              const summaryData2 = {{ summary_pelaporan_byYear| tojson }}; 
              const yearlyData = [];
              const monthlyData = [];
              for (let month = 1; month <= 12; month++) {
                monthlyData.push(summaryData[month] || 0);
              }
              for (let year = 2024; year <= 2035; year++) {
                yearlyData.push(summaryData2[year] || 0);
              }
              const monthlyReportsData = {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                  label: 'Jumlah Laporan',
                  data: monthlyData, // <-Memasukkan data yang telah diolah
                  fill: false,
                  borderColor: 'rgb(75, 192, 192)',
                  tension: 0.1
                }]
              };
              const yearlyReportsData = {
                labels: ["2024", "2025", "2026", "2027", "2028", "2029", "2030", "2031", "2032", "2033", "2034", "2035"],
                datasets: [{
                  label: 'Jumlah Laporan',
                  data: yearlyData, // <-Memasukkan data yang telah diolah
                  fill: false,
                  borderColor: 'rgb(75, 192, 192)',
                  tension: 0.1
                }]
              };
              // Opsi untuk grafik
              const config = {
                type: 'bar',  
                data: monthlyReportsData,
                options: {}
              };
              const config2 = {
                type: 'bar',  
                data: yearlyReportsData,
                options: {}
              };

              // Inisialisasi grafik bulanan dan tahunan
              const myChart = new Chart(
                document.getElementById('myChart'),
                config
              );
              const myChart2 = new Chart(
                document.getElementById('myChart2'),
                config2
              );
            </script>
          </main>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->

        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="../../static/adminAsset/vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="../../static/adminAsset/vendors/chart.js/Chart.min.js"></script>
  <script src="../../static/adminAsset/js/jquery.cookie.js" type="text/javascript"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="../../static/adminAsset/js/off-canvas.js"></script>
  <script src="../../static/adminAsset/js/hoverable-collapse.js"></script>
  <script src="../../static/adminAsset/js/template.js"></script>
  <script src="../../static/adminAsset/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../../static/adminAsset/js/dashboard.js"></script>
  <!-- End custom js for this page-->
</body>

</html>