<!DOCTYPE html>
<html lang="en">

<head>
  <!-- header -->
  {% include 'admin/adminTemplate/headerAdmin.html' %}
  <!-- end header -->
</head>
<style>
  h5 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: larger;
    font-style: oblique;
  }

  h5.card-title {
    font-size: 2em;
    /* Adjust this value as needed */
  }
</style>
<script>
  $(document).ready(function() {
    $('h3').each(function () {
      $(this).prop('Counter',0).animate({
          Counter: $(this).text()
      }, {
          duration: 1000,
          easing: 'swing',
          step: function (now) {
              $(this).text(Math.ceil(now));
          }
      });
    });
  });
  </script>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    {% include 'admin/adminTemplate/Navbar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      {% include 'admin/adminTemplate/sideBar.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h4 class="font-weight-bold mb-0">Satgas-PPKS Dashboard</h4>
                </div>
                <div>
                  <!-- button report waws here -->
                </div>
              </div>
            </div>
          </div>
          <main>
            <div class="row">
              <div class="col-md-3 grid-margin stretch-card" onclick="location.href='/adminDashboard/artikelControl'">
                <div class="card">
                  <div class="card-body">
                    <p class="card-title text-md-center text-xl-left">Artikel</p>
                    <div
                      class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                      <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{ article_count }}</h3>
                      <i class="ti-calendar icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>
                    <p class="mb-0 mt-2 text-danger"> <span class="text-black ms-1"><small> </small></span></p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 grid-margin stretch-card"  onclick="location.href='/adminDashboard/detailLaporan';">
                <div class="card">
                  <div class="card-body">
                    <p class="card-title text-md-center text-xl-left">Pelaporan</p>
                    <div
                      class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                      <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{ pelaporan_count }}</h3>
                      <i class="ti-agenda icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>
                    <p class="mb-0 mt-2 text-danger"> <span class="text-black ms-1"><small> </small></span></p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 grid-margin stretch-card" onclick="location.href='/adminDashboard/userControl';">
                <div class="card">
                  <div class="card-body">
                    <p class="card-title text-md-center text-xl-left">Mahasiswa</p>
                    <div
                      class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                      <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{ mahasiswa_count }}</h3>
                      <i class="ti-user icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>
                    <p class="mb-0 mt-2 text-success"> <span class="text-black ms-1"><small> </small></span></p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 grid-margin stretch-card" onclick="location.href='/adminDashboard/forumControl';">
                <div class="card">
                  <div class="card-body">
                    <p class="card-title text-md-center text-xl-left">Postingan</p>
                    <div
                      class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                      <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{ postingan_count }}</h3>
                      <i class="ti-layers-alt icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>
                    <p class="mb-0 mt-2 text-success"> <span class="text-black ms-1"><small> </small></span></p>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->

        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="../../static/adminAsset/vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="../../static/adminAsset/vendors/chart.js/Chart.min.js"></script>
  <script src="../../static/adminAsset/js/jquery.cookie.js" type="text/javascript"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="../../static/adminAsset/js/off-canvas.js"></script>
  <script src="../../static/adminAsset/js/hoverable-collapse.js"></script>
  <script src="../../static/adminAsset/js/template.js"></script>
  <script src="../../static/adminAsset/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../../static/adminAsset/js/dashboard.js"></script>
  <!-- End custom js for this page-->
</body>

</html>