<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
</head>
<body>
    <!-- Container -->
    <div class="container mt-4 d-flex justify-content-center">
        <!-- Articles Section -->
        <div id="articles-box" class="row d-flex flex-wrap justify-content-center align-items-center">
            <!-- Loop through articles and create article cards -->
            {% if articles %}
                {% for art in articles %}
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="card h-50 mb-5" style="min-width: 25vw; max-width: auto;">
                            <!-- Debugging: Output the article date to check its value -->
                            <!-- <p>{{ art.date }}</p> -->
                            <img src="{{ url_for('static', filename=art.gambar) }}" class="card-img-top" alt="Article Image">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title"><b>{{ art.title }}</b></h5>
                                <p class="card-text-content">{{ art.isi|truncate(100) }}</p>
                                <!-- Check if the date exists and is not empty before displaying -->
                                {% if art.date %}
                                 <p style="color: black;">{{ art.date }}</p>
                                {% else %}
                                 <p>Date not available</p>
                                 {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No articles found</p>
            {% endif %}
        </div>
    </div>

    {% include 'footer.html' %}
</body>
</html>
