<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}

<style>
    .truncated {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 900;
        /* number of lines to show */
        -webkit-box-orient: vertical;
    }

    .expanded {
        -webkit-line-clamp: none;
        height: auto;
    }
</style>

<!-- Add this script to your HTML -->
<script>
    function expand(element) {
        if (element.classList.contains('truncated')) {
            element.classList.remove('truncated');
            element.classList.add('expanded');
        } else {
            element.classList.remove('expanded');
            element.classList.add('truncated');
        }
    }
</script>

<body>
    <!-- Container -->
    <div class="container pt-2">
        {% if articles %}
        {% for art in articles %}
        <div class="container-artikel mt-3 justify-content-center align-items-center">
            <!-- Articles Section -->
            <div class="d-flex justify-content-center align-items-center mt-4">
                <div id="articles-box" class="row">
                    <!-- Loop through articles and create article cards -->
                    <div class="col-12 col-md-6 col-lg-4 mb-2 ">
                        <div class="card " style="min-width: 30vw; max-width: auto;">
                            <!-- Debugging: Output the article date to check its value -->
                            <img src="{{ url_for('static', filename=art.gambar) }}" class="card-img-top"
                                alt="Article Image">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title text-start text-uppercase">{{ art.title }}</h5>
                                <p class="card-text-content" onclick="expand(this)">{{ art.isi}}</p>
                                <!-- Check if the date exists and is not empty before displaying -->
                                {% if art.date %}
                                <p style="color: black;" class="text-start"><i>{{ art.date }}</i></p>
                                {% else %}
                                <p>Date not available</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    {% else %}
    <div>
        <p>No articles found</p>
    </div>
    {% endif %}
    {% include 'footer.html' %}

</body>

</html>