<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 1500,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            icon: "{{ messages[0][0] }}",
            title: "{{ messages[0][1] }}"
        });
    });
</script>
{% endif %}
{% endwith %}

<body>
    <!-- Container -->
    <div class="container mt-4">
        <!-- Post Card -->
        <div id="post-box" class="container">
            <div class="card card-forum mb-3  mx-auto w-100 w-sm-75 w-md-50">
                <div class="card-body mx-auto w-100 w-sm-75 w-md-50">
                    <div class="d-flex mb-3">
                        <div class="col-lg-1 col-3 p-0">
                            <a href="#">
                                <img class="rounded img-fluid" src="../static/assets/placeholder.jpg" alt="Image"
                                    style="max-width: 112px; max-height: 112px;">
                            </a>
                        </div>
                        <div class="col-lg-11 col-9 ms-3">
                            <div class="card-title card-tittle">{{post.nama}}<small
                                    class="text-muted">&nbsp;{{post.email}}
                                    <br><span>Posted at {{post.date}}</span></small>
                            </div>
                            <div class="card-text w-auto h-auto text-start" style="white-space: pre-wrap;">{{post.post}}
                            </div>
                        </div>
                    </div>
                    <!-- User Comments -->

                    <!-- User comments will be populated here -->
                     <p class="text-start"><i>Komentar ({{ comments|length }})  </i></p>
                    {% for comment in comments %}
                    <div class="coment-container-posted d-flex w-100 align-content-center mt-2 mb-2">
                        <div class="d-flex justify-content-center align-items-center text-start">
                            <a href="#">
                                <img class="rounded" style="max-width:10vw; max-height: 10vh;"
                                    src="../static/assets/placeholder.jpg " alt="User Image" width="32" height="32">
                            </a>
                            <div class="comment ms-2">
                                <span><strong>{{ comment.nama }}</strong> <br><i class="text-muted fs-6">commented on {{ comment.date.strftime('%Y-%m-%d
                                    %H:%M') }}</i></span>
                                <p>{{ comment.comment }}</p>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                    <!-- Comment Input -->
                    <div class="d-flex justify-content-center align-items-center mb-3">
                        <div class="me-3">
                            <a href="#">
                                <img class="rounded" style="max-width:40px; max-height: 40px;"
                                    src="../static/assets/placeholder.jpg " alt="User Image" width="32" height="32">
                            </a>
                        </div>
                        <form class="d-flex w-100" style="max-width: 600px;" action="/postingan-detail/{{ post.id }}"
                            method="post">
                            <div class="input-group">
                                <input type="text" class="form-control" name="comment" placeholder="Tambah Komentar"
                                    aria-label="komentar" aria-describedby="button-addon2">
                                <button class="btn btn-primary" type="submit" id="button-addon2"><i
                                        class="fa fa-mail-reply"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function postComment() {
            // Implement your comment functionality here
        }

        function cancel() {
            // Implement your cancel functionality here
        }
    </script>
</body>
{% include 'footer.html' %}


</html>