<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<style>
    .modal-dialog {
        display: flex;
        align-items: center;
        min-height: calc(100% - (.5rem * 2));
    }

    .modal {
        overflow-y: auto;
    }
</style>

<script>
    // fungction hapus komentar
    function delete_comment(comment_id) {
        $.ajax({
            type: "POST",
            url: `/delete-comment/${comment_id}`,
            data: { comment_id: comment_id },
            success: function (response) {
                location.reload();
            },
            error: function (xhr, status, error) {

                console.error("Error: " + status + " " + error);
            }
        });
    }

    // edit  comment function
    $(document).ready(function () {
        // Event listener untuk tombol edit
        $('.editCommentbtn').on('click', function () {
            var commentId = $(this).data('commentid'); // Mengambil commentId
            var commentOld = $(this).data('comment-old'); // Mengambil commentOld

            // Set action attribute for form only once
            var formAction = `/edit_comment/${commentId}`;
            var $editCommentForm = $('#editCommentForm');
            if ($editCommentForm.attr('action') !== formAction) {
                $editCommentForm.attr('action', formAction);
            }

            // Set values for inputs inside modal
            $('#commentIdInput').val(commentId);
            $('#commentEditInput').val(commentOld);

            // Show modal
            $('#editCommentModal').modal('show');
        });
    });
</script>



{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 1500,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            icon: "{{ messages[0][0] }}",
            title: "{{ messages[0][1] }}"
        });
    });
</script>
{% endif %}
{% endwith %}

<body>
    <!-- Container -->
    <div class="container mt-4">
        <!-- Post Card -->
        <div id="post-box" class="container">
            <div class="card card-forum mb-3  mx-auto w-100 w-sm-75 w-md-50">
                <div class="card-body mx-auto w-100 w-sm-75 w-md-50">
                    <div class="d-flex mb-3">
                        <div class="col-lg-1 col-3 p-0">
                            <a href="#">
                                <img class="rounded img-fluid"
                                    src="{% if user_info.fotoProfile %}
                                    {{url_for('static', filename=post.fotoProfile)}}
                                {% else %}
                                    {{url_for('static', filename='foto_profil/Default-profile-image.png')}}
                                {% endif %}"
                                    alt="Image" style="max-width: 112px; max-height: 112px;">
                            </a>
                        </div>
                        <div class="col-lg-11 col-9 ms-3">
                            <div class="card-title card-tittle">{{post.nama}}<small
                                    class="text-muted">&nbsp;{{post.email}}
                                    <br><span>Posted at {{post.date}}</span></small>
                            </div>
                            <div class="card-text w-auto h-auto text-start" style="white-space: pre-wrap;">{{post.post}}
                            </div>
                        </div>
                    </div>
                    <!-- User comments will be populated here -->
                    <p class="text-start"><i>Komentar ({{ comments|length }}) </i></p>
                </div>
                <!-- User Comments -->





                <div class="coment-container-posted d-flex align-content-start ms-2  mt-2 mb-2 ">
                    <div class="d-flex justify-content-start align-items-start text-start row" style="width: 100vw;">
                        {% for comment in comments %}
                        <div class="coment-user-container row" >
                            <div class="col-lg-1 col-md-1 col-sm-1 col-2 mt-1">
                                <img class="img-fluid rounded-circle"  
                                    src="{{ url_for('static', filename=comment.fotoProfile if comment.get('fotoProfile') else 'foto_profil/default_profile.png') }}"
                                    alt="User Image">
                            </div>
                            <div class="comments col-lg-10 col-md-10 col-sm-10 col-10 ms-2"  >
                                <span><strong>{{ comment.nama }}</strong> <br><i class="text-muted fs-6">commented
                                        on {{ comment.date.strftime('%Y-%m-%d %H:%M') }}</i></span>
                                <p>{{ comment.comment }}
                                    {% if comment.nim == user_info.nim %}
                                    <br>
                                    <i class="fa fa-trash" type="button"
                                        onclick="delete_comment('{{ comment.id }}')"></i>
                                    &nbsp;
                                    <i class="fa fa-pencil editCommentbtn" type="button" data-commentId="{{comment.id}}"
                                        data-comment-old="{{comment.comment}}" data-bs-toggle="modal"
                                        data-bs-target="#editCommentModal"></i>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>


                <!-- Comment Input -->
                <div class="d-flex justify-content-center align-items-center mb-3">
                    <div class="me-3">
                    </div>
                    <form class="d-flex w-100" style="max-width: 600px;" action="/postingan-detail/{{ post.id }}"
                        method="post">
                        <div class="input-group">
                            <input type="text" class="form-control" name="comment" placeholder="Tambah Komentar"
                                aria-label="komentar" aria-describedby="button-addon2">
                            <button class="btn btn-primary" type="submit" id="button-addon2"><i
                                    class="fa fa-mail-reply"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- Edit Comment Modal -->
    <div class="modal fade" id="editCommentModal" tabindex="-1" aria-labelledby="editCommentModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editCommentModalLabel">Edit Comment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editCommentForm" method="post">
                        <div class="mb-3">
                            <textarea class="form-control" id="commentEditInput" name="commentOld" rows="3"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="editCommentForm">Save changes</button>
                </div>
            </div>
        </div>
    </div>


</body>
{% include 'footer.html' %}


</html>