</main>
<footer class="footer-container mt-auto py-2">
    <div class="row w-100 justify-content-center d-flex">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
                Berani Lapor
            </h6>
            <p>
                Bersama Kita Lawan Kekerasan Seksual, Demi Kampus yang Aman dan Bermartabat.
            </p>
        </div>
        <!-- Grid column -->


        <!-- Grid column -->

        <!-- Grid column -->

        <hr class="w-50  center clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
                Navigate
            </h6>
            <p>
                <a class="text-white" href="/laporUser">Lapor!</a>
            </p>
            <p>
                <a class="text-white" href="/artikelBase">Artikel</a>
            </p>
            <p>
                <a class="text-white" href="/loginUser">Login</a>
            </p>
            <p>
                <a class="text-white" href="https://linktr.ee/satgasppkspolmed">More..</a>
            </p>
        </div>

        <!-- Grid column -->
        <hr class="w-50  center clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><i class="fas fa-home mr-3"></i> POLITEKNIK NEGERI MEDAN, Jl. Almamater No. 1 Kampus USU, Sumatera Utara
            </p>
            <p><i class="fas fa-envelope mr-3"></i> polmed@polmed.ac.id</p>
            <p><i class="fas fa-phone mr-3"></i> 061- 821 0463</p>
        </div>
        <!-- Grid column -->


        <hr class="w-50  center clearfix d-md-none my-3" />

        <!-- Section: Copyright -->
        <section class="p-3 pt-0">
            <div class="row d-flex align-items-center">
                <!-- Grid column -->
                <div class="col-md-7 col-lg-8 text-center text-md-start">

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                    <!-- Facebook -->
                    <a class="btn btn-outline-light btn-floating m-1" href="https://linktr.ee/satgasppkspolmed"
                        class="text-white" role="button"><i class="fab fa-facebook-f"></i></a>

                    <!-- Twitter -->
                    <a class="btn btn-outline-light btn-floating m-1" href="https://linktr.ee/satgasppkspolmed"
                        class="text-white" role="button"><i class="fab fa-twitter"></i></a>

                    <!-- Google -->
                    <a class="btn btn-outline-light btn-floating m-1" href="https://linktr.ee/satgasppkspolmed"
                        class="text-white" role="button"><i class="fab fa-google"></i></a>

                    <!-- Instagram -->
                    <a class="btn btn-outline-light btn-floating m-1"
                        href="https://www.instagram.com/official.satgasppks.polmed?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                        class="text-white" role="button"><i class="fab fa-instagram"></i></a>
                </div>
                <!-- Grid column -->
            </div>
        </section>
        <hr class="w-100   " />
        <p class="text-center ">© 2024 BeraniLapor, Satgas-PPKS Politeknik Negeri Medan</p>
    </div>


</footer>