<!DOCTYPE html>
<html lang="eng">
{% include 'header.html' %}

<style>
    @media (max-width: 600px) {
        #posting {
            width: 100%;
            height: 200px;
        }
    }
</style>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 1500,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            icon: "{{ messages[0][0] }}",
            title: "{{ messages[0][1] }}"
        });
    });
</script>
{% endif %}
{% endwith %}

<!-- for like function -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.like-form').on('submit', function (e) {
            e.preventDefault();

            var postId = $(this).data('post-id');
            var form = $(this);

            $.ajax({
                url: '/like_post/' + postId,
                type: 'POST',
                success: function (response) {
                    // Update the number of likes
                    form.find('.like-num').text(response.likes.length);

                    // Update the heart icon
                    var heartIcon = form.find('i');
                    if (response.userLiked) {
                        heartIcon.removeClass('far fa-heart');
                        heartIcon.addClass('fa fa-heart');
                    } else {
                        heartIcon.removeClass('fa fa-heart');
                        heartIcon.addClass('far fa-heart');
                    }
                }
            });
        });
    });
</script>


<body>
    <!-- Container -->
    <div class="container mt-4">
        <!-- Post Input -->
        <div class="d-flex justify-content-center align-items-center mb-3">
            <div class="me-3">
                <a href="#">
                    <img class="rounded" src="
                        {% if user_info.fotoProfile %}
                        {{url_for('static', filename=user_info.fotoProfile)}}
                    {% else %}
                        {{url_for('static', filename='foto_profil/Default-profile-image.png')}}
                    {% endif %}" alt="User Image" width="32" height="32">
                </a>
            </div>
            <input id="input-post" class="form-control rounded-pill" style="max-width: 600px;"
                placeholder="hai {{user_info.nama}}, Buat Postingan atau Topik diskusi Baru  " data-bs-toggle="modal"
                data-bs-target="#modalposting">
        </div>
    </div>

    <!-- untuk postingan-->
    <div class="modal fade" id="modalposting" tabindex="-1" aria-labelledby="postinglabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #410404; color: white;">
                    <h5 class="modal-title" id="postinglabel">Tambah postingan</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bg-body-tertiary">
                    <form action="/forumBase" method="post">
                        <div class="mb-3">
                            <textarea class="form-control" id="posting" rows="3" required
                                placeholder="hai {{user_info.nama}}, ada cerita apa nih? yuk posting"
                                name="user-post-give"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Post Card -->

    {% for post in postingan %}
    <div id="post-box" class="container">
        <div class="card card-forum mb-3  mx-auto w-100 w-sm-75 w-md-50">
            <!-- Tampilkan postingan  -->
            <div class="card-body mx-auto w-100 w-sm-75 w-md-50">
                <div class="d-flex mb-3">
                    <div class="col-lg-1 col-3 p-0">
                        <a href="#">
                            <img class="rounded img-fluid" src="
                                {% if user_info.fotoProfile %}
                        {{url_for('static', filename=post.fotoProfile)}}
                    {% else %}
                        {{url_for('static', filename='foto_profil/Default-profile-image.png')}}
                    {% endif %}" alt="Image" style="max-width: 112px; max-height: 112px;">
                        </a>
                    </div>
                    <div class="col-lg-11 col-9 ms-3">
                        <div class="w-100 h-100 ms-4 pe-1"
                            onclick="window.location.href='/postingan-detail/{{post.id}}'">
                            <div class="card-title card-tittle">{{post.nama}}<small
                                    class="text-muted">&nbsp;{{post.email}}
                                    <br><span>Posted at {{post.date}}</span></small>
                            </div>
                            <div class="card-subtitle mb-2 text-muted card-info"></div>
                            <div class="card-text-content p-2">
                                {{post.post}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between flex-wrap align-items-center">
                    <div class="d-flex flex-wrap align-items-center">
                        <form class="like-form" data-post-id="{{ post.id }}">
                            <button type="submit" class="cursor me-2 border-0 bg-transparent">
                                <i class="{{ 'fa fa-heart' if user_info.nim in post.likes else 'far fa-heart' }}"
                                    aria-hidden="true"></i>
                                <span class="like-num"> {{ post.likes|length }}</span>
                            </button>
                        </form>
                        <span class="cursor me-1 comment-trigger" data-post-id="#">
                            <i class="fa fa-message"></i>&nbsp;{{post.comment_count|length}}
                        </span>
                    </div>
                    <a href="/postingan-detail/{{post.id}}"><button type="button" class="btn btn-warning mt-2 mt-sm-0">
                            Komentar</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}





</body>
{% include 'footer.html' %}

</html>