<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<body>
    <main>
        <section class="hero">
            <div class="hero-content">
                <h1>Hallo selamat datang</h1>
                <h2>WEB PELAPORAN TINDAKAN DAN KEKERASAN SEKSUAL</h2>
                <p>Tempat melapor yang bagus dan efektif bagi seseorang yang mengalami</p>
                <div class="btn-container">
                    <a href="#" class="btn-cender">GETSRET</a>
                    <div class="icons">
                        <img src="../static/icon1.png" alt="Icon 1">
                        <img src="../static/icon2.png" alt="Icon 2">
                        
                    </div>
                </div>
                
            </div>
            <div class="hero-image">
                <img src="../static/doctors.png" alt="Doctors" alt="Doctors">
            </div>
        </section>      
    </main>

</body>
{% include 'footer.html' %}

</html>