<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | BeraniLapor</title>
    <link rel="icon" href="{{url_for('static', filename = '/assets/logo.jpg')}}">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- Style CSS -->
    <link rel="stylesheet" href="../static/style/styleLogin.css" id="css-desktop">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css" id="bulma-mobile" disabled>
    <link rel="stylesheet" href="../static/style/styleLoginMobile.css" id="css-mobile-device" disabled>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- Javascript Modal Lupa Password -->
    <script>
        $(document).ready(function () {
            // Tombol Lupa password
            $('#lupaPassword').click(function () {
                $('#updatePasswordModal').css('display', 'block');
                $('#overlay').css('display', 'block');
            });

            // Tombol Batal
            $('#tombolBatal').click(function () {
                $('#updatePasswordModal').css('display', 'none');
                $('#overlay').css('display', 'none');
            });
        });
    </script>

    <!-- Transisi Javascript -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#SignUp').click(function () {
                $('#main').addClass('right-panel-active');
            });

            $('#SignIn').click(function () {
                $('#main').removeClass('right-panel-active');
            });
        });
    </script>

    <!-- Javascript Layout Desktop -->

    <script>
        function sign_in() {
            let username = $("#username").val();
            if (!username) {
                alert("Masukkan Username!");
                return false;
            }
            let password = $("#password").val();
            if (!password) {
                alert("Masukkan Password!");
                return false;
            }

            $.ajax({
                type: "POST",
                url: "/sign_in",
                data: {
                    username_give: username,
                    password_give: password,
                },
                success: function (response) {
                    if (response['result'] === 'success') {
                        alert(response['msg']);
                        window.location.replace('/');
                    } else {
                        alert(response['msg']);
                        window.location.reload();
                    }
                },
            });
            return false;
        }
        function update_password() {
            let username = $("#username-new-pw").val();
            if (!username) {
                return alert("Masukkan Username!");
            }

            let new_pw = $("#new-password").val();
            if (!new_pw) {
                return alert("Masukkan Password baru Anda!");
            }
            if (!password_cek(new_pw)) {
                return alert("Maaf Kak, Password Anda belum sesuai. Silahkan masukkan 8-20 huruf, angka, atau karakter spesial (!), (@), (#), ($), (%), (^), (&), (*)");
            }
            $.ajax({
                type: "POST",
                url: "/update_password",
                data: { username_give: username, new_pw_give: new_pw },
                success: function (response) {
                    alert(response["msg"]);
                    window.location.reload();
                }
            });
        }

        function username_cek(asValue) {
            var regExp = /^(?=.*[a-zA-Z])[-a-zA-Z0-9_.]{2,10}$/;
            return regExp.test(asValue);
        }

        function password_cek(asValue) {
            var regExp = /^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z!@#$%^&*]{8,20}$/;
            return regExp.test(asValue);
        }

        function sign_up() {
            let nama = $("#nama-lengkap").val();
            if (!nama) {
                return alert("Masukkan Nama Lengkap Anda!");
            }

            let username_register = $("#username-register").val();
            if (!username_register) {
                return alert("Masukkan Username!");
            }
            if (!username_cek(username_register)) {
                return alert("Maaf Kak, Username Anda belum sesuai. Silahkan masukkan 2-10 huruf, angka, atau karakter spesial (.), (_), (-)");
            }

            let email = $("#email").val();
            if (!email) {
                return alert("Masukkan Email!");
            }

            let pw_register = $("#pw-register").val();
            if (!pw_register) {
                return alert("Masukkan Password!");
            }
            if (!password_cek(pw_register)) {
                return alert("Maaf Kak, Password Anda belum sesuai. Silahkan masukkan 8-20 huruf, angka, atau karakter spesial (!), (@), (#), ($), (%), (^), (&), (*)");
            }

            $.ajax({
                type: "POST",
                url: "/sign_up",
                data: {
                    nama_give: nama,
                    username_give: username_register,
                    email_give: email,
                    password_give: pw_register,
                },
                success: function (response) {
                    alert("Akun baru berhasil dibuat. Silahkan Login!");
                    return;
                }
            });
        }

        function cek_username() {
            let username = $("#username-register").val();
            if (!username) {
                return alert("Masukkan Username!");
            }
            if (!username_cek(username)) {
                return alert("Maaf Kak, Password Anda belum sesuai. Silahkan masukkan 8-20 huruf, angka, atau karakter spesial (!), (@), (#), ($), (%), (^), (&), (*)");
            }
            $.ajax({
                type: "POST",
                url: "/sign_up/cek-username",
                data: { username_give: username },
                success: function (response) {
                    if (response['exists']) {
                        alert("Maaf Kak, Username ini sudah digunakan");
                        return;
                    } else {
                        alert("Username ini bisa digunakan");
                        return;
                    }
                }
            });
        }
    </script>

    <!-- Javascript untuk tampilkan container mobile device -->
    <script>
        $(document).ready(function () {
            function checkWidth() {
                var windowWidth = $(window).width();
                if (windowWidth > 1028) {
                    $('#main').show();
                    $('#container-mobile-device').hide();
                    $('#bulma-mobile').prop('disabled', true);  // Disable Bulma CSS
                    $('#css-mobile-device').prop('disabled', true);  // Disable CSS Container Mobile
                    $('.container').removeClass('no-min-height');  // Remove class to reset min-height
                } else {
                    $('#main').hide();
                    $('#container-mobile-device').show();
                    $('#bulma-mobile').prop('disabled', false);  // Enable Bulma CSS
                    $('#css-mobile-device').prop('disabled', false);  // Enable CSS Container Mobile
                    $('.container').addClass('no-min-height');  // Add class to hide min-height
                }
            }

            // Initial check
            checkWidth();

            // Check on resize
            $(window).resize(function () {
                checkWidth();
            });

            tampilan_login();

        });

        function tampilan_login() {
            $("#btn-check-dup").hide();
            $("#hint-id-hp").hide();
            $("#hint-pw-hp").hide();
            $("#sign-up-box").hide();
        }

        function sign_in_mobile() {
            let username = $("#username-mbl").val();
            if (!username) {
                return alert("Masukkan Username!");
            }
            let password = $("#password-mbl").val();
            if (!password) {
                return alert("Masukkan Password!");
            }

            $.ajax({
                type: "POST",
                url: "/sign_in",
                data: {
                    username_give: username,
                    password_give: password,
                },
                success: function (response) {
                    if (response['result'] === 'success') {
                        let token = response['token'];
                        $.cookie('mytoken', token, { path: '/' });
                        alert(response['msg']);
                        window.location.href = '/';
                    } else {
                        alert(response['msg']);
                        window.location.reload();
                    }
                },
            });
        }

        function toggle_sign_up() {
            $('#input-username').val('');
            $('#input-password').val('');
            $('#btn-check-dup').show();
            $('#hint-id-hp').show();
            $('#hint-pw-hp').show();
            $('#sign-up-box').show();
            $('#div-sign-in-or-up').hide();
            $("#hint-login-hp").hide();
        }

        function toggle_cancel() {
            $('#btn-check-dup').hide();
            $('#hint-id-hp').hide();
            $('#hint-pw-hp').hide();
            $('#sign-up-box').hide();
            $('#input-username').val('');
            $('#input-password').val('');
            $('#input-password2').val('');
            $('#div-sign-in-or-up').show();
            $("#hint-login-hp").show();
        }

        function sign_up_mobile() {
            let username = $('#username-mbl').val();
            if (!username) {
                return alert("Masukkan Username!");
            }
            if (!username_cek(username)) {
                return alert("Maaf Kak, Username Anda belum sesuai. Silahkan masukkan 2-10 huruf, angka, atau karakter spesial (.), (_), (-)");
            }

            let password = $('#password-mbl').val();
            if (!password) {
                return alert("Masukkan Password!");
            }
            if (!password_cek(password)) {
                return alert("Maaf Kak, Password Anda belum sesuai. Silahkan masukkan 8-20 huruf, angka, atau karakter spesial (!), (@), (#), ($), (%), (^), (&), (*)");
            }

            let nama = $('#namaLengkap-mbl').val();
            if (!nama) {
                return alert("Masukkan Nama Lengkap Anda!");
            }

            let email = $('#email-mbl').val();
            if (!email) {
                return alert("Masukkan Email!");
            }

            $.ajax({
                type: 'POST',
                url: '/sign_up',
                data: {
                    nama_give: nama,
                    username_give: username,
                    email_give: email,
                    password_give: password,
                },
                success: function (response) {
                    alert("Akun baru berhasil dibuat. Silahkan Login!");
                    return;
                },
            });
        }

        function cek_username_mobile() {
            let username = $("#username-mbl").val();
            if (!username) {
                return alert("Masukkan Username!");
            }
            if (!username_cek(username)) {
                return alert("Maaf Kak, Username Anda belum sesuai. Silahkan masukkan 2-10 huruf, angka, atau karakter spesial (.), (_), (-)");
            }

            $.ajax({
                type: "POST",
                url: "/sign_up/cek-username",
                data: { username_give: username },
                success: function (response) {
                    if (response['exists']) {
                        alert("Maaf Kak, Username ini sudah digunakan");
                        return;
                    } else {
                        alert("Username ini bisa digunakan");
                        return;
                    }
                }
            });
        }

        function clearInputs() {
            $('#username-mbl').val('');
            $('#password-mbl').val('');
            $('#namaLengkap-mbl').val('');
            $('#email-mbl').val('');
        }
    </script>

</head>

<body class="body">
    <div class="container" id="main">
        <div class="sign-up">
            <form>
                <h3>Register akun baru</h3>
                <div class="control has-icons-left" style="width: 100%;">
                    <input type="text" name="nama-lengkap" id="nama-lengkap" placeholder="Masukkan Nama Lengkap"
                        required>
                </div>
                <div class="control has-icons-left" style="width: 100%; display: flex; flex-direction: row;">
                    <input type="text" name="username" id="username-register" placeholder="Masukkan Username"
                        style="border-radius: 5px 0 0 5px;" required><button class="cek-id" onclick="cek_username()">Cek
                        ID</button>
                </div>
                <p id="help-id" class="hint">Masukkan 2-10 huruf, angka, atau karakter spesial (.), (_), (-).</p>
                <p id="help-id-login" class="hint" style="font-size: 12px;"></p>
                <div class="control has-icons-left" style="width: 100%;">
                    <input type="email" name="email" id="email" placeholder="Masukkan Email" required>
                </div>
                <div class="control has-icons-left" style="width: 100%;">
                    <input type="password" name="password" id="pw-register" placeholder="Masukkan Password" required>
                </div>
                <p id="help-password" class="hint">Masukkan 8-20 huruf, angka, atau karakter spesial (!), (@), (#), ($),
                    (%), (^), (&), (*).</p>
                <p id="help-password-login" class="hint" style="font-size: 12px;"></p>
                <div class="form-buttons">
                    <button class="tombolSignUp button-inForm" id="Register" onclick="sign_up()">Sign Up</button>
                    <a href="/"><button type="button" class="tombolKembali button-inForm">Kembali</button></a>
                </div>
            </form>
        </div>
        <div class="sign-in">
            <form>
                <h3>Sign In dengan akun Anda</h3>
                <input type="text" name="username" id="username" placeholder="Masukkan Username" required>
                <input type="password" name="password" id="password" placeholder="Masukkan Password" required>
                <button type="button" class="transparent-button" id="lupaPassword">Lupa password?</button>
                <div class="form-buttons">
                    <button class="tombolSignIn button-inForm" type="button" id="Login" onclick="sign_in()">Sign
                        In</button>
                    <a href="/"><button type="button" class="tombolKembali button-inForm">Kembali</button></a>
                </div>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-left"> <!-- Overlay untuk bilah login -->
                    <h3>Halo, Kawan!</h3>
                    <p>Silahkan masukkan identitas Anda untuk bisa register akun pengguna baru</p>
                    <p>Sudah punya akun?<br>
                        Kita Sign In, yuk!</p>
                    <div class="form-buttons">
                        <button class="tombolOverlay button-inForm" id="SignIn">Sign In</button>
                    </div>
                </div>
                <div class="overlay-right"> <!-- Overlay untuk bilah register -->
                    <h3>Selamat Datang Kembali!</h3>
                    <p>Silahkan melakukan Sign In menggunakan akun yang telah Anda buat sebelumnya.</p>
                    <p>Belum punya akun?<br>
                        Daftar dulu, yuk!</p>
                    <div class="form-buttons">
                        <button class="tombolOverlay button-inForm" id="SignUp">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="updatePasswordModal" class="modal">
        <div class="modal-content">
            <h2>Update Password</h2>
            <input style="margin-left: 0;" type="text" name="username" id="username-new-pw"
                placeholder="Masukkan Username">
            <input style="margin-left: 0;" type="password" name="new-password" id="new-password"
                placeholder="Masukkan Password Baru">
            <div class="form-buttons">
                <button class="tombolUpdatePassword button-inForm" id="UpdatePassword"
                    onclick="update_password()">Update Password</button>
                <button class="tombolKembali button-inForm" id="tombolBatal">Batal</button>
            </div>
        </div>
    </div>
    <div id="overlay"></div>

    <!-- Container Mobile Device -->
    <section class="section" id="container-mobile-device">
        <div class="container">
            <div class="box" style="max-width: 480px; margin: auto;">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <div class="field has-addons">
                                <div class="control has-icons-left" style="width: 100%;">
                                    <input class="input" type="text" id="username-mbl" placeholder="Masukkan Username">
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                                <div class="control" id="btn-check-dup">
                                    <button class="button is-sparta" onclick="cek_username_mobile()">Cek
                                        Username</button>
                                </div>
                            </div>
                            <p id="hint-id-hp" class="help is-safe">Masukkan 2-10 huruf, angka, atau karakter spesial
                                (.), (_), (-).</p>
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input class="input" type="password" id="password-mbl"
                                        placeholder="Masukkan Password">
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </div>
                                <p id="hint-pw-hp" class="help is-safe">Masukkan 8-20 huruf, angka, atau karakter
                                    spesial (!), (@), (#), ($), (%), (^), (&), (*).</p>
                                <p id="hint-login-hp" class="help is-safe">Silahkan melakukan Sign In menggunakan akun
                                    yang telah Anda buat sebelumnya.</p>
                            </div>
                        </div>

                        <div id="div-sign-in-or-up" class="has-text-centered">
                            <nav class="level is-mobile">
                                <button class="level-item button is-sparta" onclick="sign_in_mobile()">Sign In</button>
                                <button class="level-item button is-sparta is-outlined"
                                    onclick="clearInputs()">Clear</button>
                            </nav>
                            <hr />
                            <h4 class="mb-3 has-text-centered">Belum punya akun? Daftar dulu, yuk!</h4>
                            <nav class="level is-mobile">
                                <button class="level-item button is-sparta is-outlined" onclick="toggle_sign_up()">Sign
                                    Up</button>
                            </nav>
                        </div>

                        <div id="sign-up-box">
                            <div class="control has-icons-left" style="width: 100%; margin-bottom: 20px;">
                                <input class="input" type="text" id="namaLengkap-mbl"
                                    placeholder="Masukkan Nama Lengkap">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                            <div class="control has-icons-left" style="width: 100%; margin-bottom: 20px;">
                                <input class="input" type="email" id="email-mbl" placeholder="Masukkan Email">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                            <nav class="level is-mobile">
                                <button class="level-item button is-sparta" onclick="sign_up_mobile()">Sign Up</button>
                                <button class="level-item button is-sparta is-outlined"
                                    onclick="toggle_cancel()">Cancel</button>
                                <button class="level-item button is-sparta is-outlined"
                                    onclick="clearInputs()">Clear</button>
                            </nav>
                        </div>

                    </div>
                </article>
            </div>
        </div>
    </section>

</body>

</html>