<nav class="sidebar sidebar-offcanvas border border-2" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/adminDashboard">
                <i class="ti-shield menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
       
        <li class="nav-item">
            <a class="nav-link" href="/adminControl">
                <i class="ti-shield menu-icon"></i>
                <span class="menu-title">Admin Control</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/adminDashboard/detailLaporan">
                <i class="ti-layout-list-post menu-icon"></i>
                <span class="menu-title">Laporan Detail</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/adminDashboard/forumControl">
                <i class="ti-pie-chart menu-icon"></i>
                <span class="menu-title">Forum control</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/adminDashboard/userControl">
                <i class="ti-id-badge menu-icon"></i>
                <span class="menu-title">User Control</span>
            </a>
        </li>
        
    </ul>
</nav>